@import "tailwindcss";
@theme {
  --color-darkbg: #03045e;
  --color-lightbg: #0077b6;
  --color-primary: #90e0ef;
  --color-secondary: #caf0f8;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

* ::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 50px;
  cursor: grab;
}
